.draggable-item {
  position: absolute;
  padding: 4px;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: move;
  z-index: 100;
  border-width: 1px;
  border-style: dashed;
  border-color: transparent;
  background: white;
  transition: border 0.18s, box-shadow 0.18s, background 0.18s;
}

.draggable-item.selected {
  box-shadow: 0 8px 16px rgba(249, 3, 3, 0.25);
  border-width: 2px;
  border-style: solid;
}

.draggable-item.right-clicked {
  background: #f0f0f0;
  border-color: #1976d2;
  border-width: 2px;
  border-style: solid;
}

.draggable-item.is-focused {
  border: 2px solid #3899ec;
  box-shadow: 0 0 0 2px rgba(56,153,236,0.18);
  background: #f0f8ff;
}

.draggable-item.dragging {
  pointer-events: none;
  opacity: 0.7;
}

.draggable-item-inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}